.DS_Store
__pycache__
.ipynb_checkpoints
wandb/
artifacts/
launch.json
settings.json
*safetensors*
*src/checkpoints/*
Meta-Llama*
dataset.zip
dataset/data.tar
dataset/data/auxiliary_train/race.csv
dataset/*
