.DS_Store
__pycache__
.ipynb_checkpoints
wandb/
artifacts/
launch.json
settings.json
*safetensors*
*src/checkpoints/*
Meta-Llama*
dataset/data.tar
src/*.log
dataset/data/auxiliary_train/race.csv
dataset/trivia_qa/tqa_2k_train.jsonl
dataset/trivia_qa/tqa_4k_train.jsonl
dataset/trivia_qa/tqa_6k_train.jsonl
dataset/trivia_qa/tqa_8k_train.jsonl
dataset/trivia_qa/tqa_10k_train.jsonl
dataset/trivia_qa/tqa_10000_mistral_generator_mistral_evaluator.jsonl
dataset/trivia_qa/tqa_full_valid.jsonl
dataset/trivia_qa/tqa_full.jsonl
dataset/trivia_qa/tqa_tmp.jsonl
dataset/trivia_qa/tqa_train.jsonl
dataset/trivia_qa/tqa_train2.jsonl
dataset/trivia_qa/tqa_train3_copy.jsonl
dataset/trivia_qa/tqa_train3.jsonl
dataset/trivia_qa/tqa_val.jsonl
dataset/trivia_qa/*.jsonl
dataset/trivia_qa/tqa_validation_mistral_v1_small.jsonl
dataset/truthful_qa/truthful_qa_test_mistral_generator_mistral_evaluator.jsonl
dataset/trivia_qa/tqa_test.jsonl
dataset/trivia_qa/tqa_train_single.jsonl
src/llama_recipes/answer_trivia_1205_train.log
src/llama_recipes/answer_trivia_1206_train.log
